@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  /* display: flex;
  place-items: center;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh; */
  margin: 0;
  display: flex;
  place-items: center;
}

#root {
  width: 100vw;
  padding: 0;
  display: flex;
  justify-content: center;
  @apply mt-28 mb-8;
}

/*  */
.hr-lines-con {
  position: relative;
  padding: 10px 0px;
  overflow: hidden;
  text-align: center;
}
.hr-lines-con > .hr-lines {
  display: inline;
  color: rgb(158, 158, 158);
  font-size: 12px;
}
.hr-lines-con > .hr-lines::before {
  display: block;
  content: '';
  position: absolute;
  border-bottom: 1px solid rgb(240, 240, 240);
  top: 50%;
  left: 0;
  width: 140px;
}
.hr-lines-con > .hr-lines::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid rgb(240, 240, 240);
  top: 50%;
  right: 0;
  width: 140px;
}

button:hover {
  opacity: 0.7;
  transition: all 0.1s linear;
}

/* Board Detail */
.bd-container {
  height: 650px;
}
.bd-content h1 {
  @apply font-semibold text-3xl border-b pb-2 mb-2;
}
.bd-content h2 {
  @apply font-semibold text-2xl mb-2;
}
.bd-content h3 {
  @apply font-semibold text-xl mb-2;
}
.bd-content h4 {
  @apply font-semibold text-lg mb-2;
}
.bd-content h5 {
  @apply font-semibold mb-2;
}
.bd-content h6 {
  @apply font-medium mb-2;
}
.bd-content ul {
  @apply list-disc ml-5;
}
.bd-content ol {
  @apply list-decimal ml-4;
}
.bd-content blockquote {
  margin: 1rem 0 0.5rem 0;
  color: gray;
  border-left: 4px solid lightgray;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #f8f9fa;
  padding: 0.4rem 0.4rem 0.4rem 1rem;
}

/* Loading */
/* http://rwdb.kr/css_text/ */
.loading {
  user-select: none;
  text-align: center;
  margin-top: 2rem;
}
.loading span {
  display: inline-block;
  animation: loading 0.7s infinite alternate;
  @apply text-3xl font-bold;
}
.loading span:nth-child(1) {
  @apply text-jghd-blue;
}
.loading span:nth-child(2) {
  animation-delay: 0.1s;
}
.loading span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading span:nth-child(4) {
  animation-delay: 0.3s;
}
.loading span:nth-child(5) {
  animation-delay: 0.4s;
}
.loading span:nth-child(6) {
  animation-delay: 0.5s;
}
.loading span:nth-child(7) {
  animation-delay: 0.6s;
  @apply text-jghd-green;
}
@keyframes loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
